.app-header .brand img {
    max-height: 60px !important;
}

#hdModal ul li {
    margin-bottom: 8px;
}

.btn-hd {
    position: absolute;
    top: 40%;
    right: 25px;
    padding: 16px;
    background-color: #e14f4f;
    /* Button background color */
    color: white;
    /* Icon color */
    border-radius: 50%;
    /* Make it circular */
    transition: transform 0.3s ease, background-color 0.3s ease;
    font-size: 20px;
    animation: shake 0.5s ease-in-out 3s infinite;
    /* Shake effect every 3 seconds */
}

.btn-hd:hover {
    transform: scale(1.1);
    /* Scale up slightly on hover */
    background-color: #45a049;
    /* Darker green on hover */
}

.btn-hd .fa-edit {
    transition: transform 0.3s ease;
    font-size: 30px;
}

.btn-hd:hover .fa-edit {
    transform: rotate(20deg);
}

.datepicker {
    cursor: pointer;
}

/* Shake animation keyframes */
@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}
