#content,
.app-sidebar-content {
    background: #fff !important;
}

.card-header-actions .card-header {
    height: 3.5625rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem;
}

.table td {
    font-weight: 350 !important;
}

.app-content {
    padding: 0.75rem 1rem !important;
    min-height: calc(100% - 61px) !important;
}

.notification .notify-total {
    background: red !important;
    font-size: 10px !important;
}

.notification .title {
    font-size: 13px;
}

.notification .content {
    height: 320px;
    overflow-y: scroll;
}
.thin-scrollbar::-webkit-scrollbar {
    width: 4px !important;
    height: 4px !important;
    /* Độ rộng của thanh cuộn */
}

.thin-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1!important;
    /* Màu nền của thanh cuộn */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
    background: #888!important;
    /* Màu của thanh cuộn */
    border-radius: 6px!important;
    /* Bo tròn viền của thanh cuộn */
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555!important;
    /* Màu của thanh cuộn khi di chuột qua */
}

.notification .notification-item.read-0 {
    background: #f3f3f5;
}
.notification .notification-item.read-1 {
    background: #fff !important;
}

.sniper-content {
    position: absolute;
    top: 50%;
    right: 50%;
}

.modal-header,
.modal-footer {
    padding-bottom: 10px;
    padding-top: 10px;
}

.modal-header .btn-close {
    border: 1px solid;
}
.datepicker {
    padding: 7px !important;
}
.datepicker.datepicker-dropdown {
    z-index: 1090 !important;
}

.nav-tabs .nav-link.active {
    background: linear-gradient(to top, #30beff, #1f6bff) !important;
    color: white;
}

.empty-data {
    font-style: italic;
    color: #9b9393;
}

.progress {
    height: 6px !important;
}

.btn-secondary,
.menu-link.active,
.card-header,
.form-control:disabled {
    background: linear-gradient(to top, #d3d8dc, #eef2f8) !important;
}

.dropdown-menu.staff-header {
    right: 16px !important;
}

.image-setting {
    cursor: pointer;
    height: 50px;
    border: 1px dotted;
    margin-bottom: 5px;
}
.profile-header-img {
        border: 1px solid #d9d4d4 !important;
}
.customer-card {
    height: 20px;
    width: 20px;
    margin-right: 6px;
}
.select2 {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    height: 34px !important;
}
.max-content {
    max-height: 60px !important;
    overflow: hidden;
}
input[type="color"] {
    height: 34px !important;
}
.update-status.absolute {
    position: absolute;
    top: 3px;
    right: 3px;
}
#editor,
.ck-content {
    min-height: 150px !important;
}
.add-new {
    padding: 0px 12px;
        border: 1px solid;
        border-radius: 6px;
}
@media only screen and (max-width: 600px) {
    .hide-mobile {
        display: none !important;
    }
}