@media (max-width: 932px) {
    .main-content {
        padding-top: 50px !important;
    }

    .widget_banner_3 .box-banner .box-content .description {
        display: none !important;
    }

    .widget_banner_3 .box-banner .box-content {
        width: 100% !important;
        height: 50px !important;
        overflow: hidden !important;
        top: auto !important;
        bottom: 0 !important;
        padding: 0px !important;
    }

    .widget_banner_3 .box-banner .box-content .title {
        font-size: 14px !important;
        line-height: 25px !important;
        margin-bottom: 0px !important;
        text-align: center !important;
    }
}
