.accordion-item p {
    text-align: justify;
}

.accordion-button {
    padding-left: 0px !important;
}

@media (max-width: 932px) {
    .main-content {
        padding-top: 50px !important;
    }

    .widget_banner.widget_banner_style_3 .box-content .title {
        font-size: 22px !important;
    }
}
