.home .widget_post_style_1.js_widget_post_style_1_2 {
    padding-top: 20px;
}

.home .widget_post_style_1.js_widget_post_style_1_1 .item .title .header {
    font-size: 16px !important;
}

.home
    .widget_post_style_1.js_widget_post_style_1_4
    .post-detail
    .item
    .title
    .description {
    font-size: 14px !important;
}

.slick-prev {
    left: 25px;
}

.slick-next {
    right: 23px;
}

.slick-prev:before,
.slick-next:before {
    font-size: 40px;
}

.slick-prev,
.slick-next {
    z-index: 1;
}

.home .widget_post_style_1.js_widget_post_style_1_1 .item .title .description {
    max-height: 50px;
}

@media (max-width: 932px) {
    .slick-next {
        right: 38px !important;
    }

    .home .widget_feed_style_1 .box-content .box-list-item .item .content p {
        font-size: 17px !important;
        line-height: 30px !important;
    }

    .home .widget_feed_style_1 .box-content .box-list-item .item .content {
        max-width: auto !important;
        min-width: auto !important;
    }

    .main-content {
        padding-top: 54px !important;
    }

    .widget_item_1 {
        display: none;
    }

    .home .widget_post_style_1 {
        padding: 50px 0 0 0 !important;
    }

    .home .widget_post_style_1.js_widget_post_style_1_4,
    .home .widget_feed_style_1 {
        padding: 50px 0 !important;
    }

    .home
        .widget_post_style_1.js_widget_post_style_1_4
        .post-detail
        .item
        .title
        span.chip {
        font-size: 12px !important;
    }

    .home .widget_item_style_1 .box-item .row-grid .item .img img {
        width: 120px !important;
    }

    .home .widget_item_style_2 .row-grid .count-time {
        margin: 0px !important;
    }

    .home .widget_item_style_2 .row-grid .count-time .clock-wrap .clock {
        justify-content: space-around !important;
    }

    .home .widget_item_style_2 .row-grid .count-time .clock-wrap .time {
        font-size: 36px !important;
    }

    .home
        .widget_post_style_1.js_widget_post_style_1_4
        .post-detail
        .item
        .title
        .header {
        font-size: 20px !important;
    }

    .post .item .title .read-more {
        height: auto !important;
        justify-content: end !important;
    }

    .js_widget_post_style_1_2 .post .item .title {
        padding: 30px 20px 15px !important;
    }

    .js_widget_post_style_1_2 .post .item .description {
        margin-top: 0 !important;
    }
}
