.widget-slider-blogs-style-1 .content span,
.widget-slider-blogs-style-1 .content p,
.widget-slider-blogs-style-1 .content p span {
    font-size: 16px !important;
    font-weight: normal !important;
}

.widget-slider-blogs-style-1 .content p {
    text-align: justify !important;
}

img {
    border-radius: 8px;
}

.list-tours .item {
    text-decoration: none;
    height: 270px;
    position: relative;
}

.list-tours .item h5 {
    position: absolute;
    bottom: -7px;
    color: #fff;
    background: #0000004d;
    padding: 4px 12px;
    border-end-end-radius: 8px;
    text-align: center;
    border-end-start-radius: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 28px;
    font-size: 16px;
    height: 64px;
}

.tien_ich_list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tien_ich_list ul li {
    width: 47%;
}

.widget-slider-blogs-style-1 .slick-arrow {
    opacity: 1 !important;
}

@media (max-width: 932px) {
    .main-content {
        padding-top: 50px !important;
    }

    .widget_tour_1.js_widget_tour_1_2 .header-title p {
        font-size: 28px !important;
    }

    .widget_tour_1.js_widget_tour_1_2 .tour-item {
        display: block !important;
    }

    .widget_tour_1.js_widget_tour_1_2 .tour-item .title .list-icon-share,
    .widget_tour_1 .tour-item .title .top > a {
        display: none !important;
    }

    .widget_tour_1.js_widget_tour_1_2 .tour-item .title .top {
        padding-top: 0px !important;
        margin: 15px 0 !important;
        padding-bottom: 15px !important;
        text-transform: uppercase;
    }

    .widget_tour_1.js_widget_tour_1_2 .tour-item .title {
        padding: 8px !important;
    }

    .tien_ich_list ul {
        padding-left: 12px;
    }

    .tien_ich_list ul li {
        padding-right: 20px;
    }

    .title-other {
        font-size: 20px !important;
    }

    .img-mobile {
        margin-top: 16px;
    }
}
