.widget_form_contact_style_3,
.widget_item_1,
.widget_item_1 .list-item {
    padding: 50px 0 !important;
}

.widget_about_5 .box-right img {
    transform: scale(1) !important;
}

.tour-content {
    text-align: justify;
}

.widget_question.widget_question_1 .accordion-body {
    text-align: justify !important;
}

.widget_item_1 .box-content-trip .box-item .description {
    text-align: justify !important;
}

.widget_item_1 .list-item .item .top img {
    width: 40px !important;
}

.widget_about_5 .box-content .title {
    line-height: 50px !important;
}

.tour-content span,
.tour-content p,
.tour-content p span,
.widget_question.widget_question_1 .accordion-body,
.single-tour-content li {
    font-family: "Montserrat" !important;
    font-size: 16px !important;
    line-height: 32px !important;
}

.widget_question.widget_question_1 .box-content {
    padding-top: 0px !important;
    padding-left: 100px;
}

.widget_question_1 {
    padding: 40px 0 !important;
}

.block-tour-content .single-tour-content p,
.block-tour-content .single-tour-content span {
    font-family: "Montserrat" !important;
}

.widget_question.widget_question_1 .accordion-button:not(.collapsed) {
    font-size: 18px !important;
}

.widget_question.widget_question_1 .accordion-body img,
.widget_about_5 .box-right img,
.widget_about_6 .row-grid .img img {
    border-radius: 8px;
}

.widget_question.widget_question_1 .accordion-body img {
    max-height: 330px;
}

@media (max-width: 932px) {
    .widget_about_6 .row-grid {
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 0 !important;
    }

    .block-tour-header .nav-pills .nav-link {
        font-size: 11px !important;
        padding: 5px 10px !important;
    }

    .widget_about_6 .row-grid .img:nth-child(1) {
        display: none;
    }

    .widget_question.widget_question_1 .box-content {
        padding-left: 0px !important;
    }

    .widget_about_5 .box-content .title {
        font-size: 28px !important;
        line-height: 40px !important;
    }

    .widget_item_1 .list-item {
        padding: 15px 0 !important;
    }

    .widget_item_1 .list-item .item .top {
        margin-bottom: 0px !important;
        flex-direction: column;
    }

    .widget_item_1 .box-content {
        padding: 8px !important;
    }

    .widget_item_1 .box-content-trip .box-item {
        padding: 0px !important;
    }

    .widget_item_1 .box-content-trip .box-item .title {
        font-size: 28px !important;
        text-align: center !important;
        margin-top: 12px;
    }

    .header-title-style-3.header-title .header {
        text-align: center !important;
    }

    .widget_form_contact_style_3 .title {
        font-size: 28px !important;
    }

    .widget_item_1 {
        padding: 20px 0 !important;
    }

    .widget_item_1 .list-item .item .description {
        text-align: center !important;
    }

    .header-title-style-3.header-title {
        justify-content: center !important;
    }

    .item-icon {
        width: 33.33% !important;
    }

    .widget_about_6 .row-grid .img {
        padding: 2px;
    }

    .widget_question.widget_question_1 .accordion-body {
        padding-right: 0;
        padding-top: 0;
    }

    .widget_question.widget_question_1 .accordion-body img {
        border-radius: 8px;
        height: 235px;
        width: 100%;
    }

    .widget_about_5 .box-content .description {
        line-height: 28px;
    }
}
