.widget_item_style_3 .box-item {
    gap: 0px !important;
}

.widget_service_style_3 .box-content .description {
    text-align: justify !important;
}

.widget_item_style_3 .box-item {
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.widget_item_style_3 .box-item a:nth-child(1),
.widget_item_style_3 .box-item a:nth-child(2) {
    width: 50%;
}

.widget_item_style_3 .box-item a:nth-child(3),
.widget_item_style_3 .box-item a:nth-child(4),
.widget_item_style_3 .box-item a:nth-child(5) {
    width: 33%;
}

@media (max-width: 932px) {
    .main-content {
        padding-top: 0px !important;
    }

    .widget_banner.widget_banner_style_3 .box-content .title {
        font-size: 22px !important;
        line-height: 30.2px !important;
    }

    .widget_item_style_3 .box-item {
        grid-template-columns: 1fr 1fr !important;
    }

    .widget_service_style_3 .box-content,
    .widget_service_style_3 {
        padding: 12px !important;
    }

    .widget_item_style_3 .box-item .img img {
        max-height: 65px !important;
    }

    .widget_item_style_3 .box-item .item .title {
        font-size: 15px !important;
        line-height: 19px !important;
    }

    .widget_service_style_3 .box-content .header-title p {
        font-size: 22px !important;
    }

    .widget_form_contact_style_3 .title {
        font-size: 22px !important;
    }
}
